.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}
.button-all:active {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.button-all:hover,
.button-all:focus {
  color: var(--button-text-color);
  background: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list {
  margin-right: 8px;
  
  &:hover,
  &:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-team);
}
}
button {
  padding: 6px 22px;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;

  background-color: var(--portfolio-button-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
}
@media screen and (max-width:1199px){
.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 60px;
  flex-wrap: wrap;
}
}

// T A B L E T
@media screen and (min-width:768px) {
  .filters-container {
    margin-bottom: 30px;
    margin-top: 60px;
    flex-wrap: wrap;
  }
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

@media screen and (min-width:1200px){
.filters-container {
  // margin-bottom: 40px;
  margin-top: 94px;
  flex-wrap: wrap;
}
.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
}
// .section  {
//   padding-top: 94px;
// }
// .filters {
//   display: flex;
//   justify-content: center;
//   align-items: center;
  
// }

// .button-all:active {
//   background-color: var(--accent-color);
//   color: var(--button-text-color);
// }

// .button-all:hover,
// .button-all:focus {
//   color: var(--button-text-color);
//   background: var(--accent-color);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .btn-list {
//   margin-right: 8px;
//   margin-bottom: 50px;

//   &:hover,
//   &:focus {
//   background: var(--accent-color);
//   box-shadow: 0px 4px 4px var(--shadow-team);
// }
// }

// button {
//   padding: 6px 22px;
//   display: block;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.63;
//   text-align: center;
//   letter-spacing: 0.03em;

//   background-color: var(--portfolio-button-bg-color);
//   color: var(--title-text-color);
//   border-radius: 4px;
// }

