// .top-line-container {
//   display: flex;
//   align-items: center;
// }

// .logo-top {
//   padding-top: 24px;
//   padding-bottom: 25px;
//   margin-right: 90px;

//   font-family: Raleway, serif;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.17;
//   text-decoration: none;

//   color: var(--top-logo-color);
// }

// .accent {
//   color: var(--accent-color);
// }

// .nav-menu {
//   display: flex;
//   align-items: center;
//   width: 294px;
//   height: 48px;
// }

// .site-nav {
//   display: flex;
//   align-items: center;
// }

// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .site-nav__link {
//   position: relative;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   color: var(--title-text-color);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:active {
//   color: var(--accent-color);
//   }
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .current {
//   color: var(--accent-color);

//   &::after {
//   content: "";

//   position: absolute;
//   bottom: 0;

//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: var(--accent-color);
//   border-radius: 2px;

//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// }

// .contacts-top-line {
//   display: flex;
//   margin-left: auto;
//   align-items: center;
//   cursor: pointer;
// }

// .mail__top {
//   display: flex;
//   align-items: center;
//   color: var(--primary-text-color);
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .mail__icon {
//   display: flex;
//   margin-right: 10px;
//   fill: currentColor;
// }

// .tel__top {
//   display: flex;
//   align-items: center;
//   margin-left: 30px;
//   color: var(--primary-text-color);
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   color: var(--accent-color);
// }
// }

