.top-line-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-line{
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-top{
  font-family: Raleway,serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  
  color: var(--top-logo-color);
  }
  
  .accent {
    color: var(--accent-color);
  }

  
  

  
  
 


  // 0px-767px
  @media screen and (max-width:767px){
    .site-nav {
      display: none;
    }
    .mail__top {
      display: none;
    }
    .tel__top {
      display: none;
    }
    .mobile-menu-btn {
      border: none;
      background-color: transparent;
      padding: 0;
      line-height: 0;
    
    }
    
    .mobile-menu-btn__icon {
      fill: var(--top-logo-color);
    
    }
    
    .mobile-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: auto;
      background-color: var(--primary-bg-color);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      ;
    }
    
    .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    
    .mobile-menu__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      border: none;
      background-color: transparent;
      line-height: 0;
      padding: 0;
    
    }
    
    .mobile-menu__container {
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
    }
    
    .mobile-nav__link {
      padding-left: 40px;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
    
      color: var(--title-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      // &:active {
      // color: var(--accent-color);
      // }
      // &:hover,
      // &:focus {
      //   color: var(--accent-color);
      // }
    }
    
    .current {
      color: var(--accent-color);
    
      //   &::after {
      //   content: "";
    
      //   position: absolute;
      //   bottom: 0;
    
      //   display: block;
      //   width: 100%;
      //   height: 4px;
      //   background-color: var(--accent-color);
      //   border-radius: 2px;
    
      //   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      // }
    }
    
    .mobile-nav__item:not(:last-child) {
      margin-bottom: 32px;
    }
    
    .mobile-nav__item:last-child {
      margin-bottom: 302px;
    }
    
    .mobile-contact {
      padding-bottom: 32px;
    }
    
    .mobile-contact__tel {
      padding-bottom: 32px;
    }
    
    .mobile-contact__tel-top {
      padding-left: 40px;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;
    
      color: var(--accent-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:active {
        color: var(--accent-color);
      }
    
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    
    .mobile-contact__mail-top {
      padding-left: 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;
    
      color: var(--primary-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:active {
        color: var(--accent-color);
      }
    
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    .mobile-social-list {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-left: 40px;
    }
    .mobile-social-list__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      text-decoration: none;
    
      color: var(--accent-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      // &:active {
      //   color: var(--accent-color);
      // }
    
      // &:hover,
      // &:focus {
      //   color: var(--accent-color);
      // }
    }
    .mobile-social-list__item:not(:last-child) {
      padding-right: 20px;
    }
  }

// T  A  B  L  E  T
  @media screen and (min-width:768px){
    .mobile-menu{
      display: none;
    }
    .mobile-menu-btn{
      display: none;
    }
    .container{
      margin-left: 0;
      margin-right: 0;
    }
    .top-line-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .top-line {
      position: relative;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .logo-top {
      padding-top: 26px;
      padding-bottom: 26px;
      margin-right: 88px;
    
      font-family: Raleway, serif;
      font-weight: bold;
      font-size: 26px;
      line-height: 1.17;
      text-decoration: none;
    
      color: var(--top-logo-color);
    }
    
    .accent {
      color: var(--accent-color);
    }

    .site-nav {
      display: flex;
      align-items: center;}

      .site-nav__item:not(:last-child) {
      margin-right: 50px;
    }
    
    .site-nav__link {
      position: relative;
      padding-top: 32px;
      padding-bottom: 32px;
    
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;
    
      color: var(--title-text-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:active {
      color: var(--accent-color);
      }
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    .current {
      color: var(--accent-color);
    
      &::after {
      content: "";
    
      position: absolute;
      bottom: 0;
    
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
    
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    }
    .contacts-top-line {
        // display: flex;
        margin-left: auto;
        align-items: center;
        cursor: pointer;
      }


    .mail__top {
        display: flex;
        align-items: center;
        
        color: var(--primary-text-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1, 14;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
          &:hover,
          &:focus {
            color: var(--accent-color);
          }
        }
        
        .mail__icon {
          display: flex;
          margin-right: 10px;
          fill: currentColor;
        }
    }
    
    
    
    
    
    
  


// .top-line-container {
//   display: flex;
//   align-items: center;
// }

// .logo-top {
//   padding-top: 24px;
//   padding-bottom: 25px;
//   margin-right: 90px;

//   font-family: Raleway, serif;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 1.17;
//   text-decoration: none;

//   color: var(--top-logo-color);
// }

// .accent {
//   color: var(--accent-color);
// }

// .nav-menu {
//   display: flex;
//   align-items: center;
//   width: 294px;
//   height: 48px;
// }

// .site-nav {
//   display: flex;
//   align-items: center;
// }

// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .site-nav__link {
//   position: relative;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;

//   color: var(--title-text-color);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:active {
//   color: var(--accent-color);
//   }
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .current {
//   color: var(--accent-color);

//   &::after {
//   content: "";

//   position: absolute;
//   bottom: 0;

//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: var(--accent-color);
//   border-radius: 2px;

//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// }

// .contacts-top-line {
//   display: flex;
//   margin-left: auto;
//   align-items: center;
//   cursor: pointer;
// }

// .mail__top {
//   display: flex;
//   align-items: center;
//   color: var(--primary-text-color);
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .mail__icon {
//   display: flex;
//   margin-right: 10px;
//   fill: currentColor;
// }

// .tel__top {
//   display: flex;
//   align-items: center;
//   margin-left: 30px;
//   color: var(--primary-text-color);
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1, 14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   color: var(--accent-color);
// }
// }

