.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../images/image-hero/hero-bg-mobile-img.jpg);
  background-position: 50% 50%;
  background-size:cover ;
  background-color: var(--section-bg-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
    }

    @media (min-device-pixel-ratio:2), (min-resolution:192dpi),(min-resolution:2dppx){
      .hero{
        background-image:url(../images/image-hero/hero-bg-mobile-img@2x.jpg);
      }
    }
  .hero-title {
  text-align: center;
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  }

  .button-hero {
    min-width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
  
    border-radius: 4px;
    border: none;
    letter-spacing: 0.06em;
  
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--button-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
    background-color: var(--button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  }

  // 0px-1199px
  @media screen and (max-width:1199px){

  }

  // 0px-767px
  @media screen and (max-width:767px){

  }


  // T  A  B  L  E  T
  @media screen and (min-width:768px){
    .hero {
    background-image: url(../images/image-hero/hero-bg-tablet-img.jpg);
        }
    
    @media (min-device-pixel-ratio:2),
    (min-resolution:192dpi),
    (min-resolution:2dppx) {
      .hero {
        background-image: url(../images/image-hero/hero-bg-tablet-img@2x.jpg);
      }
    }

  }

  // D  E  S  K  T  O  P
  @media screen and (min-width:1200px){
    .hero {
      background-image: url(../images/image-hero/hero-bg-desktop-img.jpg);
    }
    
    @media (min-device-pixel-ratio:2),
    (min-resolution:192dpi),
    (min-resolution:2dppx) {
      .hero {
        background-image: url(../images/image-hero/hero-bg-desktop-img@2x.jpg);
      }
    }
    .hero-title {
      text-align: center;
      color: var(--button-text-color);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
  }

// .hero {
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)),
//     url(../images/image-hero/Hero-bg-Img.jpg);
//   background-size: cover;

//   background-color: var(--section-bg-dark);
//   text-align: center;
//   padding-top: 200px;
//   padding-bottom: 200px;
// }

// .hero-title {
//   text-align: center;
//   color: var(--button-text-color);
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
// }

// .button-hero {
//   min-width: 200px;
//   margin-top: 30px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 10px 32px;
//   cursor: pointer;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   text-align: center;

//   border-radius: 4px;
//   letter-spacing: 0.06em;

//   background-color: var(--accent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   color: var(--button-text-color);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   background-color: var(--button-hover-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }
// }



