.team-list {
  background-color: var(--secondary-bg-color);
  padding-bottom: 94px;
}

.team__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  text-shadow: 0px 4px 4px var(--shadow-team);
}

.team {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.team__img {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.card-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.card-team__title-under {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.card-team {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--card-team-bg);
  box-shadow: 0px 4px 4px var(--shadow-team);
}

