.project {
  display: flex;
  flex-wrap: wrap;
}
.project-thumb__img{
  width: 450px;
  height: 294px;
}
.project-thumb {
  position: relative;
  overflow: hidden;

  &:hover .project-card-feature__description {
    opacity: 1;
  }
}
.card-body {
  padding: 20px 24px;
}

.card-project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.under-card-project-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
.card-img-project {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--portfolio-project-border-color);
  border-left: 1px solid var(--portfolio-project-border-color);
  border-right: 1px solid var(--portfolio-project-border-color);
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0 var(--shadow-team);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-card-feature__description {
  display: flex;

}

.project-card-feature__description {
  display: flex;
  width: 402px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--portfolio-text-card-feature__description);
}


//  C O P Y

// .portfolio {
//   padding-bottom: 94px;
// }

// .project {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }

// .project-thumb__img{
//   width: ;
//   height: ;
// }

// .project-thumb {
//   position: relative;
//   overflow: hidden;

//   &:hover .project-card-feature__description {
//     opacity: 1;
//   }
// }

// .card-body {
//   padding: 20px 24px;
// }

// .card-project-title {
//   margin-bottom: 4px;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;

//   color: var(--title-text-color);
// }

// .under-card-project-title {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.88;

//   color: var(--primary-text-color);
// }

// .card-img-project {
//   flex-basis: calc((100% - 90px) / 3);
//   margin-top: 30px;
//   margin-left: 30px;
//   border-bottom: 1px solid var(--portfolio-project-border-color);
//   border-left: 1px solid var(--portfolio-project-border-color);
//   border-right: 1px solid var(--portfolio-project-border-color);
//   cursor: pointer;

//   &:hover,
//   &:focus {
//     box-shadow: 0px 4px 4px 0 var(--shadow-team);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .portfolio-card-feature__description {
//   display: flex;
// }

// .project-card-feature__description {
//   display: flex;
//   width: 322px;
//   height: 168px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 0;
//   color: var(--primary-text-color);
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.56;
//   color: var(--portfolio-text-card-feature__description);
// }