// M O B I L E and T A B L E T
.contact-form__field {
  display: block;
  text-align: left;
}
// .mobile-title{
//   font-family: Roboto;
//   font-style: Bold;
//   font-size: 20px;
//   line-height: 1,5;
//   letter-spacing: 3%;
// }

.contact-form__text {
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 1, 17;
  line-height: 100%;
  letter-spacing: 1%;
  margin-top: 0;

  color: var(--primary-text-color);
}

.contact-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px Solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  outline: none;
  border-color: var(--accent-color);
}
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form__input:hover+&,
  .contact-form__input:focus+& {
  fill: var(--accent-color);
}
}

.contact-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px Solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
  margin-top: 4px;
  resize: none;

  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 1, 16;
  line-height: 100%;
  letter-spacing: 1%;

  color: var(--primary-text-color);

  &:hover,
  &:focus {
  outline: none;
  border-color: var(--accent-color);
}
}

    // D  E  S  K  T  O  P
    // @media screen and (min-width:1200px){
    // .contact-form__field {
    //   display: block;
    //   text-align: left;
    // }
    
    // .contact-form__text {
    //   font-family: Roboto;
    //   font-style: Regular;
    //   font-size: 12px;
    //   line-height: 1, 16;
    //   line-height: 100%;
    //   letter-spacing: 1%;
    
    //   color: var(--primary-text-color);
    // }
    
    // .contact-form__input-wrapper {
    //   display: block;
    //   position: relative;
    //   margin-top: 4px;
    //   margin-bottom: 10px;
    // }
    
    // .contact-form__input {
    //   width: 100%;
    //   height: 40px;
    //   padding-left: 42px;
    //   border: 1px Solid rgba(33, 33, 33, 0.2);
    //   border-radius: 4px;
    //   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    //   &:hover,
    //   &:focus {
    //   outline: none;
    //   border-color: var(--accent-color);
    // }
    // }
    
    // .contact-form__icon {
    //   position: absolute;
    //   top: 50%;
    //   left: 15px;
    //   transform: translateY(-50%);
    //   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    //   .contact-form__input:hover+&,
    //   .contact-form__input:focus+& {
    //   fill: var(--accent-color);
    // }
    // }
    
    // .contact-form__message {
    //   width: 100%;
    //   height: 120px;
    //   padding: 12px 16px;
    //   border: 1px Solid rgba(33, 33, 33, 0.2);
    //   border-radius: 4px;
    //   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    //   margin-bottom: 20px;
    //   resize: none;
    
    //   font-family: Roboto;
    //   font-style: Regular;
    //   font-size: 12px;
    //   line-height: 1, 16;
    //   line-height: 100%;
    //   letter-spacing: 1%;
    
    //   color: var(--primary-text-color);
    
    //   &:hover,
    //   &:focus {
    //   outline: none;
    //   border-color: var(--accent-color);
    // }
    // } 
    


// .contact-form__field {
//   display: block;
//   text-align: left;
// }

// .contact-form__text {
//   font-family: Roboto;
//   font-style: Regular;
//   font-size: 12px;
//   line-height: 1, 16;
//   line-height: 100%;
//   letter-spacing: 1%;

//   color: var(--primary-text-color);
// }

// .contact-form__input-wrapper {
//   display: block;
//   position: relative;
//   margin-top: 4px;
//   margin-bottom: 10px;
// }

// .contact-form__input {
//   width: 100%;
//   height: 40px;
//   padding-left: 42px;
//   border: 1px Solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   outline: none;
//   border-color: var(--accent-color);
// }
// }

// .contact-form__icon {
//   position: absolute;
//   top: 50%;
//   left: 15px;
//   transform: translateY(-50%);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contact-form__input:hover+&,
//   .contact-form__input:focus+& {
//   fill: var(--accent-color);
// }
// }

// .contact-form__message {
//   width: 100%;
//   height: 120px;
//   padding: 12px 16px;
//   border: 1px Solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   margin-bottom: 20px;
//   resize: none;

//   font-family: Roboto;
//   font-style: Regular;
//   font-size: 12px;
//   line-height: 1, 16;
//   line-height: 100%;
//   letter-spacing: 1%;

//   color: var(--primary-text-color);

//   &:hover,
//   &:focus {
//   outline: none;
//   border-color: var(--accent-color);
// }
// }

