// M O B I L E and T A B L E T
  .contact-form__checkbox-wrapper{
    display: flex;
  }
  .contact-form__checkbox-lable {
  display: inline-flex;
  justify-content: start;
  font-family: Roboto;
  font-style: Regular;
  font-size: 12px;
  line-height: 1, 17;
  line-height: 146%;
  letter-spacing: 3%;

  color: var(--primary-text-color);
  cursor: pointer;

  &::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  cursor: pointer;
  content: "";
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__checkbox:hover+&::before {
  border-color: var(--accent-color);
}
.contact-form__checkbox:focus+&::before {
  outline: 2px solid var(--accent-color);
}
.contact-form__checkbox:checked+&::before {
  background-image: url("../images/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--accent-color);
  border: 0, 2px solid var(--modal-background-color);
}
}

.check-conditions {
  color: var(--accent-color);
}

.contact-form__submit-btn {
  min-width: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--button-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

@media screen and (min-width:1200px){
  .contact-form__checkbox-lable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: Regular;
    font-size: 14px;
    line-height: 1, 71;
    line-height: 146%;
    letter-spacing: 3%;
}}


// .contact-form__checkbox-lable {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: Roboto;
//   font-style: Regular;
//   font-size: 14px;
//   line-height: 1, 71;
//   line-height: 146%;
//   letter-spacing: 3%;

//   color: var(--primary-text-color);
//   cursor: pointer;

//   &::before {
//   display: inline-block;
//   width: 16px;
//   height: 15px;
//   border: 1px solid var(--title-text-color);
//   cursor: pointer;
//   content: "";
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .contact-form__checkbox:hover+&::before {
//   border-color: var(--accent-color);
// }
// .contact-form__checkbox:focus+&::before {
//   outline: 2px solid var(--accent-color);
// }
// .contact-form__checkbox:checked+&::before {
//   background-image: url("../images/modal-check.svg");
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-color: var(--accent-color);
//   border: 0, 2px solid var(--modal-background-color);
// }
// }

// .check-conditions {
//   color: var(--accent-color);
// }

// .contact-form__submit-btn {
//   min-width: 200px;
//   margin-top: 30px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 40px;
//   padding: 10px 32px;
//   cursor: pointer;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   text-align: center;
//   letter-spacing: 0.06em;

//   border-radius: 4px;
//   border: none;

//   background-color: var(--accent-color);
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
//   color: var(--button-text-color);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//   background-color: var(--button-hover-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }
// }

