.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .card-img-project:hover & {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover {
    opacity: 1;
  }
}

.card-body .project-card-feature__description {
  opacity: 1;
}
// .project-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: var(--accent-color);
//   opacity: 0;
//   transform: translateY(100%);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .card-img-project:hover & {
//   transform: translateY(0);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
//   &:hover {
//   opacity: 1;
// }
// }

// .card-body .project-card-feature__description {
//   opacity: 1;
// }