.social-list__icon {
  fill: var(--social-list__icon-color);
}

.social-list {
  display: flex;

}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .social-list__icon,
  &:focus .social-list__icon {
  fill: var(--button-text-color);
}
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}



