:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --section-bg-dark: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-address-color: #ffffff;
  --top-logo-color: #000000;
  --social-list__icon-color: #afb1b8;
  --footer-logo-color: #ffffff;
  --button-hover-color: #188ce8;
  --portfolio-button-bg-color: #f5f4fa;
  --portfolio-project-border-color: #eeeeee;
  --portfolio-topline-border-color: #ececec;
  --footer-icon-bg: #ffffff10;
  --shadow-team: #00000025;
  --card-team-bg: #ffffff;
  --customers-color-icon: #afb1b8;
  --job-item__under-text: #ffffff;
  --job-item__under-bg: #2f303a80;
  --portfolio-text-card-feature__description: #ffffff;
  --modal-background-color: #ffffff;
  --footer-social-list__title-color: #ffffff;
  --footer-social-list__icon-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}